@import '~grommet/scss/vanilla/index';

.leaflet-container {
    height: 100vh;
    width: 100%;
}

.grommet.grommetux-drop {
    z-index: 9999999;
}

.grommetux-background-color-index--dark .grommetux-form-field,
.grommetux-background-color-index--light .grommetux-background-color-index--dark .grommetux-form-field {
    border-color: rgba(0,0,0,0.15);
}

.line-input {
    margin-right: 12px;
    width: calc(100% - 60px);
}

.button__menu {
    position: fixed;
    right: 12px;
    top: 12px;
    z-index: 999;

    @media screen and (min-width:720px) {
        display: none;
    }
}

.controls--open {
    .grommetux-split__column--hidden {
        @media screen and (max-width:719px) {
            display: flex;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1001;
        }
    }
}

@media screen and (max-width: 44.9375em) {
    .grommetux-box--pad-small,
    .grommetux-form--pad-small {
        padding: 12px;
    }
}
